extends layout

block content
  div.container
    h1.display-4.m-b-2= title
    if error
      div.row
        div.col-xs-9.col-md-6 
          div.alert.alert-danger #{error}
    else 
      script.
            RadarChart.defaultConfig.color = function() {};
            RadarChart.defaultConfig.radius = 3;
            RadarChart.defaultConfig.w = 350;
            RadarChart.defaultConfig.h = 350;
            var dataToDraw=  !{JSON.stringify(data)}
            
      div.row
        div.col-xs-9.col-md-6 
          form(method='POST' action='/register')
            div.form-group
              label(for='name') Candidates name: #{candidate.name}
            div.form-group
              label(for='college') College: #{candidate.college}
            div.form-group
              label(for='collegeResults') College results: #{candidate.collegeResults}
            div.form-group
              label(for='aptitudeTestResults') Aptitude Test results: #{candidate.aptitudeTestResults}
        div.col-xs-9.col-md-6
          div.chart-container
          script.
            var mycfg = {
              w: 350,
              h: 350,
              maxValue: 5,
              levels: 5,
              roundStrokes: true,
              labelFactor: 1.25
            }
            RadarChart.draw(".chart-container", dataToDraw, mycfg);
