extends layout

block content

  div.container
    h1.display-4.m-b-2= title
    div.content
      if error
        div.alert.alert-danger #{error}
      table.table.table-striped
        thead
          tr
            th Name
            th College
            th College Results
            th CV
            th Status
            th Action
            th extra
        tbody
          for candidate in candidates
            tr
              td #{candidate.name}
              td #{candidate.college}
              td #{candidate.collegeResults}
              td 
                a(href='#{candidate.cvLocation}' target="_blank") open
              td 
                span.label.label-default #{candidate.status}
              td 
                div.form-group
                  label(for="status")
                  select#status
                    option to be reviewed
                    option results needed
                    option interview to be scheduled
                    option regret
                    option withdrew
                    option interview to be schedule
                    option acceped
                    
              td 
                a(href='register?id=#{candidate._id}' target="_blank") edit

