extends layout

block content

  div.container
    h1.display-4.m-b-2= title
    div.content
      table.table.table-striped
        thead
          tr
            th Name
            th College
            th College Results
            th CV
            th Status
            th Action
            th Java test
            th Interview
            th Team Excersise
            th Profile
        tbody
          for candidate in candidates
            tr
              td #{candidate.name}
              td #{candidate.college}
              td #{candidate.collegeResults}
              td 
                a(href='#{candidate.cvLocation}' target="_blank") open
              td 
                span.label.label-default #{candidate.status}
              td 
                a(href='register?id=#{candidate._id}' target="_blank") edit
              td 
                a(href='score?type=java&id=#{candidate._id}' target="_blank") java
              td 
                a(href='score?type=interview&id=#{candidate._id}' target="_blank") interview
              td 
                a(href='score?type=team&id=#{candidate._id}' target="_blank") team
              td 
                a(href='profile?id=#{candidate._id}' target="_blank") profile